<h1><%=@user.username%></h1>




<div class="row">
  <% @records.each do |record| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(record.image, style:'width:100%'), record %>
      </div>
    </div>
  <% end %>
</div>
