<h1>User Show Page</h1>

<% if logged_in? %>
  <h1><%= @user.username %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid unless @user.uid.empty?%></h2>

  <%= link_to "Log Out", '/logout', {method: 'post'} %>
<% end %>
