

  <div class="jumbotron">
    <div class="text-center">
      <h1>Recordbox Reviews</h1>
      <%= link_to "Login", '/login', {method: "get"}%> | <%= link_to "Signup", '/signup', {method: "get"} %> <br>
      <%= link_to('Log in with Facebook', '/auth/facebook') %>
    </div>
  </div>
