// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  background-color:#F8F8F8;
  border: 20px solid #F8F8F8;
  margin: 0;
}
